body {
	background: url("../images/marvel.jpg");
}

h1 {
	font-size: 80px;
	color: red;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

.btn {
	margin-top: 100px;
	font-size: 50px;
}

.trivSection {
	background: grey;
	text-align: center;
	height: 500px;
	padding-top: 100px;
	margin-top: 100px;
}

